<div class="row">
  <div class="col-md-4">
  <p class = "pocetna_pitanje">Želiš znati gdje se nalaze policijske patrole?</p>
  <p class = "pocetna_pitanje">Moja patrola zna!</p>
  </div>
  <div class="col-md-8">
  <img src="/assets/images/hand.png" alt="Hand" class="img-responsive" id = "ruka">
  </div>
</div>



{{outlet}}
