<p class="bg-info">Kreiranje korisničkog računa</p>

<form>
  <div class="form-group">
    <input type="ime" class="form-control" id="exampleInputIme1" placeholder="Ime">
  </div>
  <div class="form-group">
    <input type="prezime" class="form-control" id="exampleInputPrezime1" placeholder="Prezime">
  </div>
   <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@example.com">
  </div>
  <div class="form-group">
    <input type="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="ponovitepassword" class="form-control" id="exampleInputPonovitePassword1" placeholder="Ponovite password">
  </div>
  <button type="submit" class="btn btn-default">Registruj se</button>
</form>




{{outlet}}
