<div class="onama text-center">

  <h3>MOJA PATROLA</h3>
  <p><em>Želiš znati gdje se nalaze policijske patrole?</em></p>
  <p>MOJA PATROLA nudi neizmjernu pomoć učesnicima u saoboraćaju u svakodnevnom kretanju saobraćajnicama.</p>
  <p>Prijavite položaj policijskih kontrola i uspješno izbjegavajte neugodne situacije kroz solidarnost i suradnju sa drugim učesnicima saobraćaja.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://i.imgur.com/fMu6d6i.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
    <div class="col-sm-4">
      <img src="http://i.imgur.com/Xm71iR8.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
    <div class="col-sm-4">
      <img src="http://i.imgur.com/gfSd43y.png" class="img-circle aboutCircle" alt="Random Name">
    </div>
  </div>
</div>
{{outlet}}
